
.tabla, td{
	border-style: solid;
	border-color: #AC8887;
	border-collapse: collapse;
	height: 50px;
	text-transform: uppercase;

}

.tablaMain{
	
}

body{
	font-family:  "Lucida Console", "Courier New", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#grad1 {
  
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #eecda3, #ef629f);
}

