/*main {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}
.list-container {
  text-align: center;
}
.list-container ul {
  padding: 0;
}
.list-container ul li {
  list-style: none;
  margin: 0;
}
.list-container ul li a {
  text-decoration: none;
  color: black;
}
header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

header {
  height: 20%;
  background-color: blanchedalmond;
  color: black;
  padding: 10px 0;
  text-align: center;
  font-family: Serif, Fantasy;
}
*/

body, html {
  height: 100%;
  margin: 0;
  font-family: Courier New, Serif, Fantasy;
}

main {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.list-container {
  text-align: center;
}

.list-container ul {
  padding: 0;
}

.list-container ul li {
  list-style: none;
  margin: 0;
}

.list-container ul li a {
  text-decoration: none;
  color: black;
}
