
*{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

body{
    background-color: #2F2F2F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    background-color: #F4FFF8;
    font-size: 50px;
    width: 500px;
}


.time{
    background-color: #2F2F2F;
    padding-left: 100px;
}

.buttons{
    background-color: #2F2F2F;
}

.start-button,
.stop-button,
.reset-button {
    background-color: #F4FFF8;
    font-weight: bold;
    border: none;
    color: black;
    margin-left: 30px;
}

.reset-button{
    background-color: #bc3908;
}
